{% extends 'clinic/dashboard_base.html' %}

{% block dashboard_title %}Create Staff Account{% endblock %}

{% block dashboard_content %}
<div class="max-w-lg mx-auto">
    <div class="form-card">
        <div class="form-card-body">
            <form method="post" class="django-form">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="form-help">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                
                <div class="flex gap-4 mt-6">
                    <button type="submit" class="btn btn-primary flex-1">
                        Create Account
                    </button>
                    <a href="{% url 'clinic:manage_staff' %}" class="btn btn-secondary flex-1">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
